html, body {
  background-color: lightblue;
}
.heading-1 {
    text-align: center;
    color: rgb(88, 182, 0);
  }
  .test-text {
    font-size: 1cm;
    text-align: center;
  }
  img {
    width: 400px;
    height: 400px;
    text-align: center;
    border-radius: 200px;
    object-fit: cover;
  }
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline-block;
  }
  
  nav ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
  }